---
import Intro2 from "../Intro2.astro";
import Layout from "../../layouts/Layout.astro";

import { getI18N } from "../../i18n";
import DataBase from "../icons/DataBase.astro";
import DataBaseSmile from "../icons/DataBaseSmile.astro";
import HorizontalCard from "../HorizontalCard.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title="dataset" , description="dataset">
  <main>
    <HorizontalCard
      title={i18n.DATASET_TITLE_1}
      description={i18n.DATASET_DESCRIPTION_1}
      img="/dataset_img_2.jpg"
    />

    <Intro2 title={i18n.DATASET_TITLE_2}>
      <DataBase class="w-12" slot="logo" />
      <p slot="p1">
        {i18n.DATASET_DESCRIPTION_2}
      </p>
    </Intro2>

    <Intro2 title={i18n.DATASET_TITLE_3}>
      <DataBaseSmile class="w-12" slot="logo" />
      <p slot="p1">
        {i18n.DATASET_DESCRIPTION_3}
        <a
          href="https://www.kaggle.com/datasets/nikdavis/steam-store-games"
          class="text-blue-300 hover:text-blue-200 transition-colors ease-in-out"
          target="_blank"
        >
          Kaggle
        </a>.
      </p>
    </Intro2>
  </main>
</Layout>
